/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
/* its already solved */
.country{
  padding: 10px;
  margin-top: 5px;
}

.pages__showing{
  padding: 1px;
}

