.countries {
  display: flex;
}

/* Add your own CSS code below */

.countries--first{
  justify-content: flex-end;
  align-items: flex-end;
}

.countries--second{
  justify-content: center;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.countries--third{
  align-items: flex-start;
}

.countries--third .country--brazil{
  align-self: flex-end;
}


.countries--fourth{
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.countries--fourth .country--ethiopia, .country--laos{
  align-self: center;
}

.countries--fifth{
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-evenly;
}

.countries--fifth .country--laos{
  order: 1;
  align-self: flex-end;
}

.countries--fifth .country--uganda{
  align-self: center;
}